
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}
.App > div {
  flex: 1 1 50%;
}
.order {
  border: 3px solid #000;
  width: 300px;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}
.product{
  border: 3px solid #000000;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.box{
  display: flex;
  flex-wrap: wrap;
}
